@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
  --font-lexend: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: #1A237E;
  --color-primary-container: #E8EAF6;
  --color-secondary: #C5A059;
  --color-card-bg: #FFFFFF;
  --color-card-border: #E8EAF6;
  --color-bg-main: #fdfcf9;
  --color-text-main: #1a1a1a;
}

@layer base {
  body {
    @apply bg-bg-main text-text-main font-sans transition-colors duration-300;
  }

  h1, h2, h3 {
    @apply font-display tracking-tight;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
